<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" id="com.k3btg.vineely" version= "1.0">
  <name>Vinee Ly test app 1</name>
  <description>Vinee Ly test app 1</description>
  <author href="http://www.k3btg.com" email="support@k3btg.com">Vinee Ly</author>
  <icon src="img/icon_72.png" width="72" height="72" />
  <icon src="img/icon_48.png" width="48" height="48" />
  <icon src="img/icon_36.png" width="36" height="36" />
</widget>